@media (min-width: 770px) and (max-width: 1000px) {
    /* Header */
    .header__nav {
        padding: 10px 20px;
    }

    .nav__menu__container {
        gap: 30px;
    }

    .nav__menu-items {
        font-size: 14px;
    }

    .main__feature {
        flex-direction: row;
        align-items: flex-start;
    }

    .main__img {
        width: 45%;
        max-width: 350px;
    }

    .main-p {
        width: 55%;
        padding: 0 10px;
    }

}

@media (max-width: 770px) {
    .nav__Logo-img {
        width: 75px;
    }

    .nav__menu-items {
        display: none;
    }

    .nav__mobile-menu {
        display: block;
        cursor: pointer;
    }
    .nav__Logo-img {
        width: 60%;
        height: auto;
    }
    .header__nav {
        justify-content: space-between;
    }

    .main__feature {
        flex-direction: column;
        align-items: center;
    }

    .main__img, .main-p {
        width: 100%;
        padding: 0;
    }
    .main__hero-title {
        font-size: 35px;
    }
    .main__features {
        grid-template-columns: 1fr;
    }
    .main-p {
        padding: 0 10px;
    }

    .main__marque {
        text-align: center;
    }
    .footer__container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .footer__horaire {
        text-align: center;
    }

    .footer__contact {
        text-align: center;
    }

    .footer__Adresse {
        text-align: center;
    }

    .footer__info {
        text-align: center;
    }

    .footer__socials {
        justify-content: center;
    }

    
}



